
<!-- Attestation questions -->
<div class="splitRight">
  <div class="leftjust">
     <h4>Attestation</h4>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div *ngIf="!questionList">
        <p><b>One moment while I'm loading your questions...</b></p>
      </div>
      <div class="table-responsive">
        <table class="table mb-0"
               formArrayName="questions"
               *ngIf="questionList && questionList.length">
          <tbody>
            <tr *ngFor="let question of questionList; let i = index">
              <td>
                  <mat-checkbox class = "tp-margin" [formControlName]="i">Yes</mat-checkbox>
              </td>
              <td>
                 {{question.quexId}}
              </td>
              <td>
                  {{question.quexText}}
              </td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-outline-primary btn-sm">Finish</button>
      </div>
    </form>
  </div>
</div>

<!-- CoC Input Criteria -->
<div class="splitLeft" >
  <div class="upperRight">
      <div class="centered" [formGroup]="form" >
        <h4>Scenario Criteria</h4>
        <mat-form-field>
          <input matInput [matDatepicker] = "picker1" placeholder = "Entry Date" formControlName="dateEntry">
          <mat-datepicker-toggle matSuffix [for] = "picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput [matDatepicker] = "picker2" placeholder = "Date of Service" formControlName="dateOS">
          <mat-datepicker-toggle matSuffix [for] = "picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput [matDatepicker] = "picker3" placeholder = "Program Start Date" formControlName="datePrgStart">
          <mat-datepicker-toggle matSuffix [for] = "picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
        <br>
        <!-- <mat-checkbox class = "tp-margin" #mnFlag [formControl]="bool">MN Flag</mat-checkbox> -->
        <br>
        <button class="btn btn-outline-primary btn-sm" (click)="CheckAndReload()">Get Qs and Reload</button>
    </div>
    <br>
  </div>

  <!-- CoC Results -->
  <div class="lowerRight">
    <div class="centered">
          <h4>CoC Results</h4>
          <div *ngIf="!cocResult">Undetermined</div>
          {{cocResult}}
    </div>
  </div>
</div>
<div>
    <div *ngIf="!cocResult"><img class="resultIcon" src="../assets/images/questionmark.png" /></div>
    <div *ngIf="badgeflag"><img class="resultIcon" src="../assets/images/greenY.png" /></div>
    <div *ngIf="cocResult && !badgeflag"><img class="resultIcon" src="../assets/images/redX.png"/></div>
</div>


