
<!-- Attestation questions -->
<div class="splitRight">
  <div class="leftjust" *ngIf="!readyflag"c>
    <p><b>Please Complete the Scenario Criteria...</b></p>
  </div>
  <div class="leftjust" *ngIf="readyflag">
    <h4>Attestation</h4>
    <form [formGroup]="form" (ngSubmit)="submit()">

      <!-- <div>
        <label><b>New Treatment</b></label><br/>
        <label style='width: 300px; align-content:center'>Patient is receiving this treatment for the first time.  This includes additions to, removals, or changes in administration of the drugs from a previous treatment Plan.</label><br/>
        <mat-radio-group class="tp-radio-group" formControlName="newTreatment" (change)="radioChange($event)" >
          <mat-radio-button class="tp-radio-button"
            *ngFor = "let yn of yesNoAnswers" [value]="yn" >
            {{yn}}
          </mat-radio-button>
        </mat-radio-group>
      </div> -->

      <!-- <div *ngIf="!questionList">
        <button [disabled]="!readyflag" class="btn btn-outline-primary btn-sm" (click)="CheckAndReload()" >Refresh questions list</button>
      </div> -->
      <!-- <div *ngIf="newTreatment != null && !newTreatment"> -->
        <div *ngIf="questionList">
          <p><b>Treatment Type</b></p>
          <mat-select style="width:40%; margin: 1rem 0; white-space: pre-line;" placeholder = "Select Treatment Type"
            (selectionChange)="onTreatmentTypeChange($event)"
            formControlName="treatmentType"
            matTooltip='Click to select Treatment type' required #select>
            <mat-select-trigger>
              {{select.value?.quexText}}
            </mat-select-trigger>
            <!-- <mat-option>None</mat-option> -->
            <mat-option style="margin: 1rem 0; overflow: visible; line-height: 15px; white-space: pre-line;"
                          *ngFor="let qex of levelZeroList"
                          [value]="qex" >

                  <!--  matTooltip='{{qex.extra}}' matTooltipPosition="right" -->
                  <!-- <p><b>{{qex.quexText}}</b></p> -->
                  <span><b>{{qex.quexText}}</b> {{qex.extra}}</span>
                </mat-option>
                </mat-select>
            <br>
            <p style="width:400px;">{{selectedValue}}</p>
            <br><br>
        </div>
        <div *ngIf="treatmentType && treatmentType.id > 0" class="table-responsive">
          <table class="table mb-0"
                formArrayName="questions"
                *ngIf="questionList && questionList.length">
            <tbody>
              <th>Answer</th>
              <th>Id</th>
              <th>Level</th>
              <th>Question</th>
              <tr *ngFor="let question of questionList; let i = index">
                <td>
                    <mat-checkbox class = "tp-margin" [formControlName]="i">Yes</mat-checkbox>
                </td>
                <td>
                  {{question.quexId}}
                </td>
                <td>
                    {{question.level}}
                </td>
                <td>
                  <div style="white-space: pre-line;">
                      {{question.quexText}}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      <!-- </div> -->
      <div *ngIf="treatmentType != null">
          <button [disabled]="(treatmentType == null)"
                  class="btn btn-outline-primary btn-sm">Submit</button>
      </div>
  </form>
  </div>
</div>

<!-- CoC Input Criteria -->
<div class="splitLeft" >
  <div class="upperRight">
      <div class="centered" [formGroup]="form" >
        <h4>Scenario Criteria</h4>
        <mat-form-field>
          <input matInput [matDatepicker]="picker1" placeholder="Entry Date" formControlName="dateEntry" (ngModelChange)="onDate($event)">
          <mat-datepicker-toggle matSuffix [for] = "picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1 ></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput [matDatepicker]="picker2" placeholder="Date of Service" formControlName="dateOS" (ngModelChange)="onDate($event)">
          <mat-datepicker-toggle matSuffix [for] = "picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 ></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput [matDatepicker] = "picker3" placeholder = "Program Start Date" formControlName="datePrgStart" (ngModelChange)="onDate($event)">
          <mat-datepicker-toggle matSuffix [for] = "picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3 ></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-checkbox class="tp-margin" formControlName="vanillaFlag" (click)="onCBClick(vanillaFlag)"></mat-checkbox>
        <div *ngIf="vanillaFlag == true" >
          <mat-label style="font-size: smaller"><b>BCBSMA</b></mat-label>
        </div>
        <div *ngIf="vanillaFlag == false" >
          <mat-label style="font-size: smaller"><b>GENERIC</b><br>When not checked GENERIC will display in questions for testing</mat-label>
        </div>
        <br>
        <button [disabled]="!readyflag" class="btn btn-outline-primary btn-sm" (click)="CheckAndReload()" >Get Qs and Reload / Reset</button>
    </div>
    <br>
  </div>

  <!-- CoC Results -->
  <div class="lowerRight">
    <div class="centered">
          <h4>CoC Results</h4>
          <div *ngIf="!cocResult">Undetermined</div>
          {{cocResult}}
    </div>
  </div>
</div>
<div>
    <div *ngIf="!cocResult"><img class="resultIcon" src="../assets/images/questionmark.png" /></div>
    <div *ngIf="badgeflag"><img class="resultIcon" src="../assets/images/greenY.png" /></div>
    <div *ngIf="cocResult && !badgeflag"><img class="resultIcon" src="../assets/images/redX.png"/></div>
</div>


