
<!-- Attestation questions -->
<div class="splitRight">
  <div class="leftjust" *ngIf="!readyflag"c>
    <p><b>Please Complete the Scenario Criteria...</b></p>
  </div>
  <div class="leftjust" *ngIf="readyflag">
    <h4>Attestation</h4>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div *ngIf="!questionList">
        <button [disabled]="!readyflag" class="btn btn-outline-primary btn-sm" (click)="CheckAndReload()" >Resfresh questions list</button>
      </div>
      <div *ngIf="questionList">
        <p><b>Treatment Type</b></p>
        <mat-select style="width:200px;" placeholder = "Select Treatment Type"
          (selectionChange)="onTreatmentTypeChange($event)"
          formControlName="treatmentType"
          matTooltip='Click to start Attestation'>
            <mat-option *ngFor="let qex of levelZeroList"
               [value]="qex" matTooltip='{{qex.extra}}'>
               <b>{{qex.quexText}}</b>
            </mat-option>
          </mat-select>
          <br>
          <p style="width:400px;">{{selectedValue}}</p>
          <br><br>
      </div>
      <div *ngIf="treatmentType && treatmentType.id > 0" class="table-responsive">
        <table class="table mb-0"
               formArrayName="questions"
               *ngIf="questionList && questionList.length">
          <tbody>
            <th>Answer</th>
            <th>Id</th>
            <th>Level</th>
            <th>Question</th>
            <tr *ngFor="let question of questionList; let i = index">
              <td>
                  <mat-checkbox class = "tp-margin" [formControlName]="i">Yes</mat-checkbox>
              </td>
              <td>
                {{question.quexId}}
              </td>
              <td>
                  {{question.level}}
              </td>
              <td>
                <div style="white-space: pre-line;">
                    {{question.quexText}}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="treatmentType">
          <button [disabled]="(!questionList || questionList.length < 1) || !treatmentType" class="btn btn-outline-primary btn-sm">Finish</button>
      </div>
  </form>
  </div>
</div>

<!-- CoC Input Criteria -->
<div class="splitLeft" >
  <div class="upperRight">
      <div class="centered" [formGroup]="form" >
        <h4>Scenario Criteria</h4>
        <mat-form-field>
          <input matInput [matDatepicker]="picker1" placeholder="Entry Date" formControlName="dateEntry" (ngModelChange)="onDate($event)">
          <mat-datepicker-toggle matSuffix [for] = "picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1 ></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput [matDatepicker]="picker2" placeholder="Date of Service" formControlName="dateOS" (ngModelChange)="onDate($event)">
          <mat-datepicker-toggle matSuffix [for] = "picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 ></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput [matDatepicker] = "picker3" placeholder = "Program Start Date" formControlName="datePrgStart" (ngModelChange)="onDate($event)">
          <mat-datepicker-toggle matSuffix [for] = "picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3 ></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-checkbox class = "tp-margin" formControlName="vanillaFlag">BCBSMA</mat-checkbox>
        <br>
        <button [disabled]="!readyflag" class="btn btn-outline-primary btn-sm" (click)="CheckAndReload()" >Get Qs and Reload / Reset</button>
    </div>
    <br>
  </div>

  <!-- CoC Results -->
  <div class="lowerRight">
    <div class="centered">
          <h4>CoC Results</h4>
          <div *ngIf="!cocResult">Undetermined</div>
          {{cocResult}}
    </div>
  </div>
</div>
<div>
    <div *ngIf="!cocResult"><img class="resultIcon" src="../assets/images/questionmark.png" /></div>
    <div *ngIf="badgeflag"><img class="resultIcon" src="../assets/images/greenY.png" /></div>
    <div *ngIf="cocResult && !badgeflag"><img class="resultIcon" src="../assets/images/redX.png"/></div>
</div>


