

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 20;
  overflow-x: scroll;
}

.left {
  left: 0;
  width: 70%;
  background-color: white;
}

.right {
  right: 0;
  background-color: whitesmoke;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.leftjust {
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

.upper, .lower {
  position: absolute;
  left: 0;
  right: 0;
}

.upper {
  top: 0;
  height: 30%;
  background-color: grey;

}

.lower {
  bottom: 0;
  height: 70%;
  background-color: gainsboro;
}

h4 {
  color: white;
}

.tp-h2 {
  margin: 10px;
}
.tp-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.tp-margin {
  margin: 0 10px;
}
